
.skeleton {
    background: #ddd;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 4px;
  }
  .skeleton.text {
    width: 90%;
    height: 12px;
    margin-bottom: 15px;
  }
  .skeleton.longText {
    width: 90%;
    height: 25px;
    margin-bottom: 15px;
  }
  .skeleton.title {
    width: 80%;
    height: 30px;
    margin-bottom: 15px;
  }
  .collection{
    display: flex;
  }
  .skeleton.tag {
    width: 8%;
    height: 30px;
    margin-bottom: 15px;
   padding: 2px;
    margin-right: 10px;
    border-radius: 8px;
  }
  .skeleton.avatar {
    padding: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
 
  .skeleton-wrapper {
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;

  }
  
  /* skeleton profile */
  .skeleton-profile {
    width: 408px;
    height: 208px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
    border-radius: 0.3rem;
    padding: 8px;
  }
  .skeleton-article {
    height: 208px;
    border-radius: 0.3rem;
    padding: 8px;
  }
  .skeleton-article > .skeleton.text{
    width: 95%;

  }

  .skeleton-wrapper.light {
    background: #f2f2f2;
  }
  .skeleton-wrapper.dark {
    background: #444;
  }
  .skeleton-wrapper.dark .skeleton {
    background: #777;
  }
  
  .animation-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loading 2.5s infinite;
  }
  .animation {
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    transform: skewX(-20deg);
    box-shadow: 0 0 30px 30px rgba(255,255,255,0.2);
  }
  .dark .animation {
    background: rgba(255,255,255,0.05);
    box-shadow: 0 0 30px 30px rgba(255,255,255,0.05);
  }

  @keyframes loading {
    0% { transform: translateX(-150%) }
    50% { transform: translateX(-60%) }
    100% { transform: translateX(150%) }
  }